@charset "utf-8";
/* CSS Document */

body {background-color:#826DB8}

#Logo 		{float:left; margin-bottom: 20px;margin-top: 20px}
#Icon 		{float:right; margin-top: 20px}
#navigation 
{	clear:both; 
	border-top:solid black 2px; 
	border-bottom:solid black 2px;
	word-spacing: 10px;
	margin-bottom: 20px;
	padding:10px

}

#banner img {width: 1000px}

#Tajuk {float:left; width: 700px;}
#Tajuk h1 
{
	color:#520875; 
	font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	margin-left:10px;
	border-bottom:solid black 2px;
	padding-bottom: 20px;
	
}

#Tajuk img {clear: both;
	width: 300px;
	padding: 10px;
	margin-left:10px;
	margin-right: 10px;
	border: solid black 2px;
	
}

#Kanan {float:right;width: 270px}
#Kanan h1 {color:#5BDBF1; font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'}
#Kanan h2 {color:#31018E; font-size:20px}
#Kanan h3 {color:#1B6F80; font-size:15px; margin-bottom: -10px}


#footer 
{
	clear:both;
	border-top:solid black 2px; 
	word-spacing: 5px;
	margin-bottom: 10px;
	padding:10px
}
		
#footer p {text-align: center}

a {color:black; text-decoration:none;}
a:hover {color: gray; text-decoration: none}
body {padding-bottom: 30px; padding-top: 30px}

#wrapper {background-color: white;
width:1000px; margin:0px auto; }

#wrapper2 {background-color: white;
width:1100px; margin:0px auto; }
